XML_Nahverkehr/src/xml_nahverkehr/nv_drivers.dtd

<!ELEMENT drivers (driver*)>

<!ELEMENT driver (vehicle+, homeadress)>
<!ATTLIST driver firstname CDATA #REQUIRED
lastname CDATA #REQUIRED
phone CDATA #REQUIRED
id ID #REQUIRED>

<!ELEMENT vehicle EMPTY>
<!ATTLIST vehicle type CDATA #REQUIRED>

<!ELEMENT homeadress (street, houseNo, areacode, town)>

<!ELEMENT street (#PCDATA)>

<!ELEMENT houseNo (#PCDATA)>

<!ELEMENT areacode (#PCDATA)>

<!ELEMENT town (#PCDATA)>