XML_Nahverkehr/src/xml_nahverkehr/nv_stations.dtd

<!ELEMENT stations (station*)>

<!ELEMENT station (stationTypes, street, intersection?,  ticketMachines?)>
<!ATTLIST station stationId ID #REQUIRED
name CDATA #REQUIRED>

<!ELEMENT stationTypes (type+)>

<!ELEMENT type EMPTY>
<!ATTLIST type name (bus | tram | subway | city_train) #REQUIRED>

<!ELEMENT street EMPTY>
<!ATTLIST street name CDATA #REQUIRED>

<!ELEMENT ticketMachines (ticketMachine+)>

<!ELEMENT ticketMachine EMPTY>
<!ATTLIST ticketMachine id ID #REQUIRED>