XML_Nahverkehr/src/xml_nahverkehr/nv_schedules.dtd

<!ELEMENT sc:schedules (sc:schedule+)>
<!ATTLIST sc:schedules xmlns:sc CDATA #FIXED "nv_schedules.dtd">
<!ELEMENT sc:schedule (sc:departureTimes+)>
<!ATTLIST sc:schedule scheduleId ID #REQUIRED
stationId IDREF #REQUIRED
routeId IDREF #REQUIRED>

<!ELEMENT sc:departureTimes (sc:time+)>
<!ATTLIST sc:departureTimes finalStationId IDREF #REQUIRED>
<!ELEMENT sc:time (#PCDATA)>
