XML_Nahverkehr/src/xml_nahverkehr/nv_tickets.dtd

<!ELEMENT ti:tickets (ti:ticket+)>
<!ELEMENT ti:ticket (ti:description+, ti:fares)>
<!ATTLIST ti:ticket type (single | day | month) #REQUIRED>

<!ELEMENT ti:description (#PCDATA)>

<!ELEMENT ti:fares (ti:fare+)>

<!ELEMENT ti:fare EMPTY>
<!ATTLIST ti:fare type CDATA #REQUIRED
price CDATA #REQUIRED>
